.archive-posts {
    width: 100%;
    font-size: 16px;
}

.archive-year {
    margin-top: 40px;
}

.archive-year-header {
    font-size: var(--h1size);
    color: #000;
    font-weight: bold;
}

.archive-year:not(:last-of-type) {
    border-bottom: 2px solid #000;
}

.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive-month-header {
    margin: var(--homesize) 0;
    width: 200px;
    font-weight: bold;
    font-size: var(--homesize);
    color: #000;
}

.archive-month:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

.archive-entry {
    position: relative;
    padding: 5px;
    margin: 10px 0;
}

.archive-entry-title {
    margin: 5px 0;
    font-weight: normal;
    font-size: var(--homesize);
    color: #003262;
    text-decoration: underline;
}

.archive-entry-title:hover {
    color: #001f3f;
}

.archive-count,
.archive-meta {
    color: #333;
    font-size: 14px;
}
